@if (note.id !== -1){
<div>
    <button>Editar</button>
    <button>Salvar</button>
    <button>Cancelar</button>
    <form>
        <input class="text title" type="text" [(ngModel)]="note.titulo" name="NoteTitle" placeholder="Digite o titulo aqui..." value={{note.titulo}}>
        <p><input class="text conteudo" type="text" [(ngModel)]="note.conteudo" name="NoteTitle" placeholder="Anote suas tarefas,,," value={{note.conteudo}} readonly></p>
    </form>
</div>
} @else {
<!-- Div de boas vindas, quando nenhuma nota foi selecionada -->
<div class="hello">
    <h3>Seja bem vindo(a) ao Notes!</h3>
    <img src="assets/Logo.png" class="image">
</div>
}