.text {
     background-color: white;
     border: 0 none;
     outline: 0;
     box-shadow: 0 0 0 0;
}

.title {
    font-size: 30px;
    width: 100%;
}

.conteudo {
    font-size: 17px;
    width: 100%;
    height: calc(100% - 10px);
    overflow-y: auto;
    resize: none;
}

.hide {
    display: none;
}

.hello {
    text-align: center;
    vertical-align: middle;
}

.image {
    background-color: rgb(163, 163, 163);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
    max-width: 20%;
    max-height: 40%;
}

.margin {
    margin-right: 1% !important;
    margin-left: 1% !important;
    margin-top: 5px;
}

.secondMargin {
    margin-right: -7px !important;
    margin-left: -7px !important;
}

form {
    height: calc(100% - 40px);
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

div{
    height: calc(100% - 15px);
    width: 100%;
}

p {
    overflow-y: auto;
    height: calc(100% - 70px);
    width: 100%;
}