<div class="menuNotas">
  <button class="button-white buttonNew test" (click)="onClickNew()">Nova nota</button>
  <ul>
    <li class="li-title">Anotações</li>
    <div class="scroll">
    @for (note of notes; track $index){
      <div class="itensGroup">
      <div><img src="assets/delete.png" class="btn-noteDel" (click)="onClickRemove(note._id)"></div>
      <div class="td-note"><Button class="btn-noteList" (click)="onClickNote(note._id)">{{ note.titulo }}</Button></div>
      </div>
    } @empty { 
      <br>Você não tem notas recentes<br/>Crie uma nova anotação! 
    }
  </div>
  </ul>
</div>
